@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text">
    <h1 class="display-4">Início</h1>
    <br>
    <div>    
        <h2>Bem vindo ao site da veterinária</h2> 
        <br>      
        <img src="~/Imagens/petvet_logo3.png" asp-append-version="true" width="500">        
        <div>
            <br>
            <p>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
                texto texto texto texto texto texto texto texto texto
            <br>
            </p>
        </div>
    </div>
</div>
