@{
    ViewData["Title"] = "Serviços";
}

<div class="text">
    <h1 class="display-4">PetVet</h1>
    <br>
    <h2>Serviços</h2>
    <br>
        <div>
            <br>
            <h4>• Serviço 1</h4>
                <h5>Descrição</h5>
                <h5>Valor</h5>
            <br>
            <h4>• Serviço 2</h4>
                <h5>Descrição</h5>
                <h5>Valor</h5>
            <br>
            <h4>• Serviço 3</h4>
                <h5>Descrição</h5>
                <h5>Valor</h5>
        </div>
    <br>
</div>
